RewriteEngine On

# Přesměrování všech domén na www.lakrim.cz
RewriteCond %{HTTP_HOST} ^lakrim\.upol\.cz [OR]
RewriteCond %{HTTP_HOST} ^www\.lakrim\.upol\.cz [OR]
RewriteCond %{HTTP_HOST} ^lakrim\.cz$
RewriteRule ^(.*)$ https://www.lakrim.cz/$1 [R=301,L]

# Přesměrování všeho do /public/, ale pouze pokud už nejsme v /public/
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]
