.question-description {
    img {
        cursor: not-allowed;
        border-radius: 0.5rem;
        border-color: rgb(214 211 209);
        border-width: 8px;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        margin-bottom: 15px;
    }
}

.question-perex {
    img {
        cursor: not-allowed;
        margin: 15px 0 15px 0;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    }
}
